<mat-toolbar class="main-toolbar">
  <!-- Logo Left -->
  <div class="logo" routerLink="/home">
    <img src="../../assets/img/logo.jpg" alt="logo" />
  </div>

  <!-- Desktop Menu Right -->
  <div class="menu_links">
    <div class="drop-downs" routerLink="/home" routerLinkActive="active-link">
      <span>Home</span>
    </div>

    <div class="drop-downs" routerLinkActive="active-link">
      <span>About Us</span>
      <div class="drop-down-menu">
        <ul>
          <li [routerLink]="'/industry-overview'">Industry Overview</li>
          <li [routerLink]="'/company-profile'">Company Profile</li>
        </ul>
      </div>
    </div>

    <div class="drop-downs" routerLinkActive="active-link">
      <span routerLink="/categories">Products</span>
      <div class="drop-down-menu">
        <ul *ngFor="let product of categoryList" [routerLink]="['/product', product?.id]">
          <li routerLinkActive="active-link">{{product?.categoryname | titlecase }}</li>
        </ul>
      </div>
    </div>

    <div class="drop-downs" routerLink="/contact" routerLinkActive="active-link">
      <span>Contact</span>
    </div>
  </div>

  <!-- Mobile Icon Right -->
  <div class="mobile_navigation">
    <mat-icon (click)="toggleMobileMenu()" *ngIf="!isMobileMenuOpen">menu</mat-icon>
    <mat-icon (click)="toggleMobileClose()" *ngIf="isMobileMenuOpen">close</mat-icon>
  </div>
</mat-toolbar>

<!-- Mobile Menu Panel -->
<div class="mobile_menu" [class.open]="isMobileMenuOpen">
  <ul>
    <li routerLink="/home" (click)="closeMobileMenu()">Home</li>

    <li>
      About Us
      <ul class="sub-menu">
        <li (click)="industryOverview(); closeMobileMenu()">Industry Overview</li>
        <li (click)="companyProfile(); closeMobileMenu()">Company Profile</li>
      </ul>
    </li>

    <li>
      <span routerLink="/categories">Products</span>
      <ul class="sub-menu">
        <li *ngFor="let product of categoryList" [routerLink]="['/product', product?.id]" routerLinkActive="active-link"
          (click)="closeMobileMenu()">
          {{ product?.categoryname | titlecase }}
        </li>
      </ul>
    </li>

    <li routerLink="/contact" (click)="closeMobileMenu()">Contact</li>
  </ul>
</div>