<!-- industry Overview Start -->
<section class="about-section py-5 bg-light" aria-label="Why choose our company" *ngIf="industryOverview()">
    <div class="container">
        <div class="row align-items-center justify-content-center gy-4" style="gap: 60px;">

            <!-- Image Section -->
            <div class="col-lg-5" data-aos="fade-right">
                <img src="../../assets/img/about.png" alt="Why Choose Us" class="img-fluid rounded shadow"
                    loading="lazy">
            </div>

            <!-- Text Content -->
            <div class="col-lg-6" data-aos="fade-left">
                <h2 class="fw-bold text-primary mb-4">Some Quick Facts</h2>
                <ul>
                    <li>Stainless Steel (SS) Production – 30 Lacs TPA</li>
                    <li>Consumptions in SS Houseware Manufacturer – 60-65% of total steel production</li>
                    <li>SS Houseware Manufacturer – More than 6,000</li>
                    <li>SS Houseware Exporters – More than 325
                        <ul>
                            <li>Manufacturer Exporters – 125</li>
                            <li>Merchant Exporters – 200</li>
                        </ul>
                    </li>
                    <li>Traders / Retailers / Wholesalers – 200,000</li>
                    <li>Hotels & Restaurants using SS Products – 150,000</li>
                    <li>Buying Agents / Buying Houses – 50</li>
                    <li>Indian Manufacturing Hubs –
                        Mumbai, Delhi, Chennai, Moradabad, Ahmedabad, Kundli, Jodhpur, Thane & Pune
                    </li>
                    <li>Indian Exporting Hubs –
                        Mumbai, Delhi, Chennai, Moradabad & Kundli
                    </li>
                    <li>Major Export Countries –
                        USA, UAE, Africa, Europe, South East Asia, South America, Australia
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <div class="container py-5">
        <div class="row align-items-center justify-content-center gy-4" style="gap: 60px;">

            <!-- Text Content -->
            <div class="col-lg-6" data-aos="fade-left">
                <h2 class="fw-bold text-primary mb-4">India’s Competitive Advantage</h2>
                <ul>
                    <li>Availability of Young and Skilled Labour Force</li>
                    <li>Low Capital Cost due to Low Cost of Machineries</li>
                    <li>Low Minimum Order Quantity Encouraging Exports</li>
                    <li>New Product Development is Faster Owing to In-house Design and R&D Facilities</li>
                    <li>Low Cost for New Tooling and Designing</li>
                </ul>
            </div>

            <!-- Image Section -->
            <div class="col-lg-5" data-aos="fade-right">
                <img src="../../assets/img/about.png" alt="Why Choose Us" class="img-fluid rounded shadow"
                    loading="lazy">
            </div>


        </div>
    </div>

    <div class="container py-5">
        <div class="row align-items-center justify-content-center gy-4" style="gap: 60px;">

            <!-- Text Content -->
            <div class="col-lg-12" data-aos="fade-left">
                <h2 class="fw-bold text-primary mb-4">India’s SS Houseware Exports </h2>
                <ul>
                    <li>Till the early eighties, kitchenware in the average Indian home would primarily consist of
                        copper, aluminum, and stainless steel utensils; cutleries like tea-cups, saucers, and spoons;
                        cookware of aluminum; and plastic bottles to store spices, sugar, salt, and edible oil. The only
                        sophisticated cookware was perhaps the pressure-cooker. Gradual changes were seen with stainless
                        steel utensils replacing copper and aluminum.</li>
                    <li>According to the research report, the kitchenware products market will grow at a considerable
                        CAGR rate to reach over INR 55 billion by 2020 due to the increasing number of nuclear families
                        and exposure to online distribution channels.</li>
                    <li>Future growth of the Kitchenware Products Market is expected to be driven by the emergence of
                        web aggregators and the rise in preferences towards branded kitchenware products.</li>
                    <li>“The manufacturing base of the country is expected to expand in the coming future with the
                        government initiative of promoting India as a manufacturing hub, improving technological
                        know-how, and surging number of Point of Sales both online and offline.” according to the
                        Research Analyst, Ken Research.</li>
                    <li>In terms of retail formats, exclusive distributorship is on the decline and sales through large
                        general merchandisers are increasing because of the western mall shopping culture in urban
                        areas. There is a need for more specialized stores dealing in kitchenware products. These can be
                        in the form of large format ‘category-killers’ or an up-market small-size store that deals in
                        specific types of kitchenware products.</li>
                    <li>Total exports of Stainless Steel Utensils from India were USD 324.1 Million in FY 2013-14, which
                        increased to USD 380.04 Million in FY 2014-15. This was an increase of 11.1%. (Source: DGCI&S)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- industry Overview End -->











<!-- company Profile Start -->
<section class="about-section py-5 bg-light" aria-label="Why choose our company" *ngIf="companyProfile()">
    <div class="container">
        <h2 class="custom-heading mx-xl-5 mb-5">
            <span>Company Profile</span>
        </h2>
        <div class="row align-items-center justify-content-center gy-4" style="gap: 60px;">

       
            <!-- Text Content -->
            <div class="col-lg-6" data-aos="fade-right">
                <h2 class="fw-bold text-primary mb-4">Quick Facts</h2>
                <ul>
                    <li>One of the fastest growing companies in the industry with required infrastructure for further
                        growth.</li>
                    <li>Led by experienced management and supported with skilled staff to deliver quality products every
                        time.</li>
                    <li>Focus on new design and product development to cater to direct exports as well as grow
                        domestically.</li>
                    <li>Investment into new machineries and upgrading existing ones to increase the production capacity
                        with operational efficiency and enhanced profitability.</li>
                </ul>

            </div>

                 <!-- Image Section -->
            <div class="col-lg-5" data-aos="fade-left">
                <img src="../../assets/img/about.png" alt="Why Choose Us" class="img-fluid rounded shadow"
                    loading="lazy">
            </div>


        </div>
    </div>


    <div class="container py-5">
        <h2 class="custom-heading mx-xl-5">
            <span>Company Overview</span>
        </h2>
        <div class="row align-items-center justify-content-center gy-4" style="gap: 60px;">


            <!-- Text Content -->
            <div class="col-lg-12" data-aos="fade-right">
                <ul>
                    <li>The company is a manufacturer of Stainless Steel Houseware. The company manufactures and exports
                        Stainless Steel Utensils, Cutlery, Kitchenware, and Household Articles directly or through
                        Merchant Export Trading Companies.</li>
                    <li>The company has a wide range and ability to produce around 200 different products backed by
                        in-house designing. The company is capable of producing steel houseware of any shape like round,
                        oval, square, or any other shape.</li>
                    <li>All processes, including sheet cutting, mould making, pressing, spinning, welding, polishing,
                        and packing, are done under one roof.</li>
                    <li>A highly skilled labour force ensures that the company has happy and satisfied customers in E.U,
                        U.S.A, U.K., South America, Japan, and many other countries.</li>
                    <li>The company’s stringent quality control measures, high packing standards, and precise time
                        management have enabled it to have tie-ups with many store chains and importer-distributors
                        across geographies. It has also helped in retaining customers.</li>
                </ul>

            </div>

        </div>
    </div>


    <div class="container mt-4">
        <!-- First Row -->
        <div class="row mb-4" data-aos="fade-left">
            <div class="col-12 col-md-6 border-start border-3">
                <h5 class="section-header">1. Export</h5>
                <p>
                    Since its inception, Metline Houseware Has contributed significantly to the development of India’s
                    stainless steel export industry
                </p>
                <p>
                    We export over 250 items including kitchenware, barware, cookware, tableware and decorative items to
                    more than 40 countries we are constantly striving to maintain the stability of our business and
                    secure competitive returns for our partners, customers, and employees.
                </p>
                <p>
                    The driving force behind our growth has been and remains our commitment to sustaining partnerships
                    based on trust and dedication. Metline Houseware Will again elevate its efforts to strengthen its
                    business to emerge as a leader in global trade.
                </p>
            </div>
            <div class="col-12 col-md-6 border-start border-3">
                <h5 class="section-header">2. Domestic Supplies of Exporters</h5>
                <p>
                    Having a fleet of machinery and equipments, Metline Houseware is capable of producing goods in large
                    quantities so we also welcome big quantity orders from other exporters in India. Executing big
                    voluminous orders within stipulated time frame is our forte.
                </p>
                <p>
                    As we also specialize in various types of value additions like rubber bonding, electroplating,
                    powder coating etc on steel products we continuously fulfill demand of other exporters in Indian
                    market.
                </p>
            </div>

        </div>

        <!-- Second Row -->
        <div class="row mb-4 py-5" data-aos="fade-right">
            <div class="col-12 col-md-6 border-start border-3">
                <h5 class="section-header">3. Govt. Supplies/ tenders</h5>
                <p>
                    Based on world-class merchandising talent and years of experience, we strive to supply our products
                    to govt. For various efforts done by our govt. For enhancement and uplift of our society.
                </p>
                <p>
                    We actively participate in the various tenders offered by centre and state govt. And try to offer
                    our products as per their requirements
                </p>
                <p>
                    Metline Houseware Is also making efforts to join hands with govt. Under various schemes like “swach
                    bharat” and “make in India” started by our honorable prime minister shri narendra damodardas modi.
                </p>
            </div>
            <div class="col-12 col-md-6 border-start border-3">
                <h5 class="section-header">4. Retail</h5>
                <p>
                    Taking pride in helping to create and adapt to consumption cultures in the competitive Indian
                    market, we continue to maintain our focus and competitive edge.
                </p>
                <p>
                    We are producing economical and efficient product range through backward and forward integration.
                    From the widest range of products, the company caters to varied needs in the Indian steel market
                </p>
                <p>
                    In this era of digitalization we believe in providing all round services to our buyer through
                    various means and our customers can also purchase products from online shopping websites like
                    Flipkart, Amazon etc.
                </p>
            </div>
        </div>
    </div>


</section>
<!-- company Profile End -->