<p *ngIf="bowls()">bowls</p>


<p *ngIf="traysAndPens()"> traysAndPens</p>

<p *ngIf="storage()"> storage</p>

<p *ngIf="petAccessories()"> petAccessories</p>

<p *ngIf="cutlery()"> cutlery</p>

<p *ngIf="servingTools()"> servingTools</p>

<p *ngIf="tongs()"> tongs</p>

<p *ngIf="cruets()"> cruets</p>

<p *ngIf="colandersAndStrainers()"> colandersAndStrainers</p>

<p *ngIf="fruitAndBreadBaskets()"> fruitAndBreadBaskets</p>

<p *ngIf="binsAndBuckets()"> binsAndBuckets</p>

<p *ngIf="barAssortments()"> barAssortments</p>

<p *ngIf="kitchenTool()"> kitchenTool</p>

<p *ngIf="saladServers()"> saladServers</p>

<p *ngIf="utilities()"> utilities</p>