<div class="container-fluid pt-5 pb-3">
    <h2 class="section-heading mx-xl-5 mb-4" *ngIf="productName">
        <i class="fas fa-bowl-food icon-left"></i>
        <span>{{ productName }}</span>
    </h2>

    <!-- Products List -->
    <div class="row px-xl-5" *ngIf="productList?.length > 0; else noProducts">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let pro of productList">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100 zoom-image"
                        [src]="pro?.imageUrl ? imaUrl + pro?.imageUrl : '../../assets/img/about.png'"
                        [alt]="pro?.categoryname" />
                    <div class="product-action" (click)="openImageDialog(pro)">
                        <i class="fas fa-search-plus" style="font-size: 24px;"></i>
                    </div>
                </div>
                <div class="text-center py-4">
                    <p class="p-0 m-0 text-primary">{{pro?.productcode}}</p>
                    <a class="h6 text-decoration-none text-truncate" href="#">{{ pro?.productname }}</a>
                </div>
            </div>
        </div>
    </div>

 <!-- No Records Found -->
<ng-template #noProducts>
  <div class="no-records text-center p-5">
    <h4 class="text-muted mb-2">No products found</h4>
    <p class="text-secondary">Try selecting a different category.</p>
  </div>
</ng-template>

</div>