.hover-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

.transition-all {
    transition: all 0.3s ease-in-out !important;
}

.hover-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}


// product start


.product-item {
    border: 1px solid #d1d1d1;
    /* Gray border */
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.zoom-image {
    transition: transform 0.5s ease;
    border-radius: 0;
    /* optional */
}

.product-img:hover .zoom-image {
    transform: scale(1.1);
    filter: brightness(0.7) blur(1px);
    /* glass effect */
}

.product-action {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s ease;
    background: rgba(255, 255, 255, 0.2);
    /* soft glass effect background */
    backdrop-filter: blur(5px);
    padding: 10px 0;
}

.product-img:hover .product-action {
    opacity: 1;
    transform: translateY(0);
}

.custom-heading {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}

.custom-heading span {
    padding-right: 1rem;
    white-space: nowrap;
}

.custom-heading::after {
    content: "";
    flex-grow: 1;
    border-bottom: 2px dotted #999;
    margin-left: 1rem;
}

// product end


// our team start

.profile-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile-card:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);

    .card-title {
        color: #fff !important;
    }

    .card-text {
        color: rgb(11, 54, 85) !important;
    }
}

.social-icons {
    display: none;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.profile-card:hover .social-icons {
    display: block;
    opacity: 1;
}

.social-icons a {
    // width: 50px;
    // height: 50px;
    // border-radius: 25px;
    // background-color: #fff;
    // padding: 10px;
    font-size: 18px;
    color: white;
}

.social-icons a:hover {
    color: #f5a623 !important;
}